<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/88d0b1bd-09a8-4d18-b708-b55bf0ee3ab6/resourceGroups/webapp01001_group/providers/Microsoft.Web/sites/webapp01001</ResourceId>
    <ResourceGroup>webapp01001_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapp01001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c03f9467-dc8d-4271-a5ba-6821ce85f5e5</ProjectGuid>
    <PublishUrl>https://webapp01001.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp01001</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>